*{
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    padding: 10px 20px;
    padding-left: .25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    display: flex;
    align-items: center;
}

nav ul li {
    display: inline;
    padding: 1.5rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0;
    font-size: 100%;
}

nav ul li:hover {
    background-color: #555;
}

.user-name {
    width: 40%;
    margin-right: 0;
    padding-right: 0;
}

.user-name h1 {
    width: 100%;
    color: antiquewhite;
    text-align: end;
    font-size: 2rem;
    margin-right: 0;
}


#hamburger-menu div {
    width: 100%;
    height: 10%;
    background-color: antiquewhite;
    border-radius: 50%;
}

#hamburger-menu{
    display: none;
    width: 10%;
    height: 50px;
}

@media screen and (max-width: 834px) {
    nav {
        padding: 10px 20px;
    }

    #hamburger-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }


    nav ul {
        display: none;
    }

}

@media screen and (max-width: 491px){
    nav {
        justify-content: flex-start;
    }

    .user-name {
        width: 100%;
    }
    
    .user-name h1 {
        text-align: center;
    }
}

@media screen and (max-width: 313px){
   .user-name h1 {
        text-align: end;
   }

   nav {
    padding-right: 0;
    padding-left: .75%;
   }
}

.toggle-element {
    background-color: #333;
    justify-content: center;
    width: 100vw;
    display: none;
}

.toggle-element ul li {
    list-style: none;
    font-size: 1.5rem;
    padding: .75rem;
    margin: 0;
}

.toggle-element li a{
    text-decoration: none;
    color: white;
}

.toggle-element ul {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.toggle-element ul li:hover {
    background-color: #555;
}